In [7]:
assert 2 + 2 == 2 +2, "Its worked"

In [2]:
50 - 5 * 6

20

In [3]:
(50 -5 *6) /4

5.0

In [4]:
8/5

1.6

In [8]:
17 % 3

2

In [1]:
bin(678)

'0b1010100110'

In [2]:
"Boston"[-3:]

'ton'

In [3]:
square = [1,2,34,5,5]
square.reverse()
square

[5, 5, 34, 2, 1]

In [11]:
"boston"[3:0:-1]

'tso'

In [14]:
[1,1] in [[1,2],[2,3]]

False

In [16]:
True if 2 != 2 else False

False

In [1]:
# print odd even
oddEven = lambda x: x % 2 == 0

In [3]:
oddEven(1)

False

In [13]:
def isprime(num):
    for i in range(2,num//2):
        if num % i == 0:
            return False
    return True

In [20]:
list(map(lambda x: x * x, [1,2,3,4]))

[1, 4, 9, 16]

In [29]:
from test import isprimetest

In [28]:
isprimetest(5)

True

COVID-DATASET EXERCISE 
country = ['India', 'UK', "India","UK","China","USA","China","China"] deaths = [10, 20, 30,40,1,23,56,1]

Task 1: Make a dict with Key as country value as deaths

Task 2: How many Total deaths have occurred in each country the result should be displayed as a Dict
15 mins solve this.....

Task 3: Find the unique country name in the given list: 
['India', 'UK', "India","UK","china","USA","China","China",”INDIA”,”RUSSIA”,”United Kingdom”]

Basic programs 
-	Can you write a program to find the average of odd numbers in the given list?
-	Write a Python Program to Find the third Largest Number in the given list?
-	Write a Python Program to find the count of Even and odd numbers in the given list? 
-	Write a Python Program to find the sum of all Even and odd numbers in the given list? 
-	Write a Python Program to find the Avg. of numbers which are multiples of 7 in the given list? 
Data= [68, 71, 21, 68, 32, 80, 64, 52, 92, 97, 93, 37, 61, 62, 23, 81, 67, 84, 33, 41, 92, 51, 71, 52, 92, 43, 80, 74, 69, 92, 79, 78, 70, 31, 34, 79, 73, 77, 96, 87, 53, 47, 85, 58, 58, 87, 44, 29, 94, 23, 65, 49, 71, 57, 96, 74, 30, 65, 62, 85, 34, 21, 81, 79, 84, 87, 22, 45, 59, 91, 26, 22, 46, 71, 60, 21, 67, 21, 56, 38, 82, 95, 77, 55, 37,61, 59, 89, 61, 75, 97, 72, 58, 23, 78, 20, 95, 67, 59, 56, 93, 82,35, 78, 94, 67, 25, 95, 90, 80, 78, 73, 91, 52, 59, 96, 46, 94, 99,78, 53, 40, 67, 76, 73, 46, 77, 40, 34, 38, 34, 42, 69, 86, 61, 76,21, 90, 52, 65, 36, 93, 55, 86, 95, 65, 30, 89, 86, 20, 92, 46, 58,75, 43, 57, 53, 42, 43, 37, 26, 90, 58, 31, 73, 71, 63, 70, 72, 78,26, 39, 35, 58, 84, 56, 24, 73, 36, 75, 32, 35, 56, 87, 87, 73, 80,78, 25, 61, 38, 94, 36, 90, 70, 65, 34, 61, 44, 85, 41, 50, 23, 34,20, 87, 84, 30, 21, 84, 65, 85, 88, 73, 54, 47, 77, 41, 35, 71]

In [8]:
country = ['India', 'UK', "India","UK","China","USA","China","China"] 
deaths = [10, 20, 30,40,1,23,56,1]
dict(zip(country,deaths))

{'India': 30, 'UK': 40, 'China': 1, 'USA': 23}

In [7]:
Dict = {} # Empty Dict
for c,d in zip(country,deaths):
    if c not in Dict:
        Dict[c] = d
    else:
        Dict[c] += d 
Dict

{'India': 40, 'UK': 60, 'China': 58, 'USA': 23}

In [12]:
{c: d for c,d in zip(country,deaths) }

{'India': 30, 'UK': 40, 'China': 1, 'USA': 23}

In [9]:
set(['India', 'UK', "India","UK","china","USA","China","China","INDIA","RUSSIA","United Kingdom"])

{'China', 'INDIA', 'India', 'RUSSIA', 'UK', 'USA', 'United Kingdom', 'china'}

In [10]:
lst = list(range(10))
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
# Can you write a program to find the average of odd numbers in the given list?

oddlist = list(filter(lambda x: x % 2 != 0, lst))
sum(oddlist) // len(oddlist)

5

In [28]:
# Write a Python Program to Find the third Largest Number in the given list?
lst.sort()
lst[-2]

8

In [38]:
# Write a Python Program to find the count of Even and odd numbers in the given list?
lst = [1,23,34,66,6]
len([num  for num in lst if num % 2 == 0]), len([num  for num in lst if num % 2 != 0])

(3, 2)

In [39]:
# Write a Python Program to find the sum of all Even and odd numbers in the given list?
sum([num  for num in lst if num % 2 == 0]), sum([num  for num in lst if num % 2 != 0])

(106, 24)

In [42]:
# Write a Python Program to find the Avg. of numbers which are multiples of 7 in the given list? 
Data = [68, 71, 21, 68, 32, 80, 64, 52, 92, 97, 93, 37, 61, 62, 23, 81, 67, 84, 33, 41, 92, 51, 71, 52, 92, 43, 80, 74, 69, 92, 79, 78, 70, 31, 34, 79, 73, 77, 96, 87, 53, 47, 85, 58, 58, 87, 44, 29, 94, 23, 65, 49, 71, 57, 96, 74, 30, 65, 62, 85, 34, 21, 81, 79, 84, 87, 22, 45, 59, 91, 26, 22, 46, 71, 60, 21, 67, 21, 56, 38, 82, 95, 77, 55, 37,61, 59, 89, 61, 75, 97, 72, 58, 23, 78, 20, 95, 67, 59, 56, 93, 82,35, 78, 94, 67, 25, 95, 90, 80, 78, 73, 91, 52, 59, 96, 46, 94, 99,78, 53, 40, 67, 76, 73, 46, 77, 40, 34, 38, 34, 42, 69, 86, 61, 76,21, 90, 52, 65, 36, 93, 55, 86, 95, 65, 30, 89, 86, 20, 92, 46, 58,75, 43, 57, 53, 42, 43, 37, 26, 90, 58, 31, 73, 71, 63, 70, 72, 78,26, 39, 35, 58, 84, 56, 24, 73, 36, 75, 32, 35, 56, 87, 87, 73, 80,78, 25, 61, 38, 94, 36, 90, 70, 65, 34, 61, 44, 85, 41, 50, 23, 34,20, 87, 84, 30, 21, 84, 65, 85, 88, 73, 54, 47, 77, 41, 35, 71]

seven = [num for num in Data if num % 7 == 0]
sum(seven)/ len(seven)

56.4375