In [1]:
import pandas as pd

In [9]:
data=pd.read_csv('client.csv',sep=';')

In [10]:
type(data)

pandas.core.frame.DataFrame

In [11]:
data.head()

   client_id  birth_number  district_id
0          1        706213           18
1          2        450204            1
2          3        406009            1
3          4        561201            5
4          5        605703            5

In [13]:
data.tail()

      client_id  birth_number  district_id
5364      13955        456030            1
5365      13956        430406            1
5366      13968        680413           61
5367      13971        626019           67
5368      13998        535812           74

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5369 entries, 0 to 5368
Data columns (total 3 columns):
client_id       5369 non-null int64
birth_number    5369 non-null int64
district_id     5369 non-null int64
dtypes: int64(3)
memory usage: 126.0 KB

In [19]:
data['birth_number']

0       706213
1       450204
2       406009
3       561201
4       605703
         ...
5364    456030
5365    430406
5366    680413
5367    626019
5368    535812
Name: birth_number, Length: 5369, dtype: int64

In [20]:
type(data['birth_number'])

pandas.core.series.Series

In [21]:
data[['birth_number','district_id']]

      birth_number  district_id
0           706213           18
1           450204            1
2           406009            1
3           561201            5
4           605703            5
...            ...          ...
5364        456030            1
5365        430406            1
5366        680413           61
5367        626019           67
5368        535812           74

[5369 rows x 2 columns]